<!DOCTYPE html>
<html>
    <head>
    <title>
        Nutrition Buddy
    </title>
    {% load sass_tags %}
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'nutritionbuddy/style/style.scss'  %}">
    <link rel="stylesheet" type="text/css" href= "{% static 'nutritionbuddy/style/fontawesome/css/all.min.css'%}"
    </head>
    <body>     
        <div class = "main-container">
            <div class = "side-bar">
                {%include 'nutritionbuddy/sidebar.html' %}
            </div>
            <div class = "functionality-container">
                <div class = "form-container">
                    {% include 'nutritionbuddy/form.html' %}
                </div>
                <div class = "result-container">
                    {% include 'nutritionbuddy/response.html' %}
                </div>
            </div>
        </div>
        <script src = {% static 'nutritionbuddy/script/script.js' %}></script>
    </body>
</html>